@charset "UTF-8";
.container {
  width: 90vw;
  margin: auto;
  max-width: 1290px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.small-device-button {
  margin: auto;
  background: transparent;
  color: black;
  border: 5px solid #68C3D3;
  border-radius: 40px;
  font-weight: 600 !important;
  font-size: calc(18px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
  padding: 10px 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .small-device-button {
    font-size: 30px !important;
  }
}

.small-device-button:hover {
  background-color: #68C3D3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-header {
  margin-top: 100px !important;
  max-width: 900px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600 !important;
  font-size: calc(25px + 11 * ((100vw - 375px) / (1280 - 375))) !important;
  margin-bottom: 100px;
}

@media (min-width: 1440px) {
  .section-header {
    font-size: 36px !important;
  }
}

header {
  background-image: url(/images/previewBack.png);
  height: 600px !important;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

nav ul {
  margin-top: 30px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  text-transform: uppercase;
  cursor: pointer;
  display: inline;
  font-weight: 400 !important;
  font-size: calc(10px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1440px) {
  nav li {
    font-size: 18px !important;
  }
}

nav li:hover a {
  color: #68C3D3;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.preview-content {
  margin-top: 50px;
  width: 50%;
  height: 30vw;
  max-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.preview-content h1 {
  margin: 0;
  font-weight: 600 !important;
  font-size: calc(20px + 28 * ((100vw - 375px) / (1280 - 375))) !important;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .preview-content h1 {
    font-size: 48px !important;
  }
}

.preview-content h3 {
  font-weight: normal !important;
  font-size: calc(14px + 10 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .preview-content h3 {
    font-size: 24px !important;
  }
}

.preview-content h2 {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: calc(16px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .preview-content h2 {
    font-size: 28px !important;
  }
}

.preview-content button {
  background: transparent;
  color: white;
  border: 5px solid #68C3D3;
  border-radius: 40px;
  font-weight: 600 !important;
  font-size: calc(18px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
  padding: 10px 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .preview-content button {
    font-size: 30px !important;
  }
}

.preview-content button:hover {
  background-color: #68C3D3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.receiving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.receiving h1 {
  margin-top: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600 !important;
  font-size: calc(30px + 18 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .receiving h1 {
    font-size: 48px !important;
  }
}

.receiving .numbers {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.receiving .numbers .number-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 220px;
  position: relative;
}

.receiving .numbers h3 {
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 50px;
  font-weight: 600 !important;
  font-size: calc(26px + 10 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .receiving .numbers h3 {
    font-size: 36px !important;
  }
}

.receiving .numbers img {
  width: 100%;
  height: 100%;
}

.content-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-table img {
  width: 45%;
  display: block;
  max-width: 100%;
  height: auto;
}

.content-table .content-table-text {
  width: 45%;
}

.content-table .content-table-text .wrapper {
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-table .content-table-text .wrapper .circle-before {
  width: 30px !important;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

.content-table .content-table-text .wrapper h3 {
  margin-bottom: 0;
  width: 90%;
}

.content-table h3 {
  font-weight: normal !important;
  font-size: calc(14px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .content-table h3 {
    font-size: 26px !important;
  }
}

.answers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.answers-wrapper .answers-block {
  width: 50%;
}

.answers-wrapper .answers-block .wrapper {
  color: white;
  width: 90%;
  margin: auto;
}

.answers-wrapper .answers-block .wrapper h3 {
  font-weight: 600 !important;
  font-size: calc(20px + 16 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .answers-wrapper .answers-block .wrapper h3 {
    font-size: 36px !important;
  }
}

.answers-wrapper .answers-block .wrapper p {
  font-weight: 600 !important;
  font-size: calc(14px + 10 * ((100vw - 375px) / (1280 - 375))) !important;
  margin-bottom: 35px;
}

@media (min-width: 1440px) {
  .answers-wrapper .answers-block .wrapper p {
    font-size: 24px !important;
  }
}

.calendar-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar-content-wrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-content-wrapper .wrapper .circle-before {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: #064149;
  border-radius: 50%;
}

.calendar-content-wrapper .wrapper h3 {
  margin: 15px 0;
  max-width: 611px;
  width: 90%;
  font-weight: normal !important;
  font-size: calc(16px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .calendar-content-wrapper .wrapper h3 {
    font-size: 24px !important;
  }
}

.calendar-content-wrapper .calendar-content {
  width: 48%;
}

.calendar-content-wrapper .calendar-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.calendar-content-wrapper .calendar-content h2 {
  margin-top: 0;
  font-weight: normal !important;
  font-size: calc(20px + 10 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .calendar-content-wrapper .calendar-content h2 {
    font-size: 30px !important;
  }
}

.calendar-content-wrapper .text-below-wrappper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar-content-wrapper .text-below-wrappper .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.calendar-top-wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale .section-header {
  font-weight: 500;
  border: 2px solid #064149;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 70px;
  width: 70%;
}

.sale .section-header span {
  display: block;
  margin-top: 50px;
}

.sale .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #F3F9FB;
  -webkit-box-shadow: -20px -20px 32px #FFFFFF, 16px 16px 32px #DAE7EC;
          box-shadow: -20px -20px 32px #FFFFFF, 16px 16px 32px #DAE7EC;
  border-radius: 24px;
  width: 70%;
}

.sale .clock .clock-circle {
  margin: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F9FB;
  -webkit-box-shadow: 16px 16px 32px #DAE7EC, -16px -16px 32px #FFFFFF;
          box-shadow: 16px 16px 32px #DAE7EC, -16px -16px 32px #FFFFFF;
  border-radius: 50%;
  padding: 20px 40px;
  font-family: Roboto;
  width: 10%;
}

.sale .clock .clock-circle h2 {
  font-weight: normal !important;
  font-size: calc(30px + 40 * ((100vw - 375px) / (1280 - 375))) !important;
  margin: 0;
}

@media (min-width: 1440px) {
  .sale .clock .clock-circle h2 {
    font-size: 70px !important;
  }
}

.sale .clock .clock-circle h3 {
  margin: 0;
  font-weight: normal !important;
  font-size: calc(16px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .sale .clock .clock-circle h3 {
    font-size: 24px !important;
  }
}

.sale .clock .breakpoint {
  color: black;
  font-weight: 600 !important;
  font-size: calc(50px + 50 * ((100vw - 375px) / (1280 - 375))) !important;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .sale .clock .breakpoint {
    font-size: 100px !important;
  }
}

.sale button {
  cursor: pointer;
  margin-top: 70px;
  font-family: Roboto;
  border: none;
  background: #B1E9FC;
  -webkit-box-shadow: 16px 16px 32px #B7D5E0, -16px -16px 32px #FFFFFF;
          box-shadow: 16px 16px 32px #B7D5E0, -16px -16px 32px #FFFFFF;
  border-radius: 60px;
  font-weight: normal !important;
  font-size: calc(20px + 16 * ((100vw - 375px) / (1280 - 375))) !important;
  padding: 10px 80px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 100px;
}

@media (min-width: 1440px) {
  .sale button {
    font-size: 36px !important;
  }
}

.smm-calendar {
  background-color: #A7D1D4;
  padding: 30px 0;
}

.smm-calendar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smm-calendar button {
  text-transform: uppercase;
  border: 4px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  font-weight: 500 !important;
  font-size: calc(20px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
  background: transparent;
  padding: 20px 40px;
}

@media (min-width: 1440px) {
  .smm-calendar button {
    font-size: 28px !important;
  }
}

.smm-calendar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smm-calendar-content h1 {
  font-weight: 600 !important;
  font-size: calc(20px + 10 * ((100vw - 375px) / (1280 - 375))) !important;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .smm-calendar-content h1 {
    font-size: 30px !important;
  }
}

.smm-calendar-content .wrappper {
  margin-left: 40px;
}

.smm-calendar-content .wrappper h2 {
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: calc(16px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .smm-calendar-content .wrappper h2 {
    font-size: 24px !important;
  }
}

.smm-calendar-content .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smm-calendar-content .icon-block h3 {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: calc(14 + 7 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .smm-calendar-content .icon-block h3 {
    font-size: 21 !important;
  }
}

.for-free .img-wrapper {
  width: 50%;
}

.for-free .img-wrapper img {
  width: 100% !important;
}

.for-free .after-line {
  position: relative;
}

.for-free .after-line::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  bottom: 0px;
}

.for-free .wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-free .wrapper img {
  width: 50%;
  display: block;
  max-width: 100%;
  height: auto;
}

.for-free .wrapper .text-content {
  width: 50%;
}

.for-free .wrapper .text-content h2 {
  font-weight: 500 !important;
  font-size: calc(20px + 6 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .for-free .wrapper .text-content h2 {
    font-size: 26px !important;
  }
}

.for-free .wrapper .text-content .circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-free .wrapper .text-content .circle-wrapper h3 {
  width: 90%;
  font-weight: normal !important;
  font-size: calc(14px + 8 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  .for-free .wrapper .text-content .circle-wrapper h3 {
    font-size: 22px !important;
  }
}

.for-free .wrapper .text-content .circle-wrapper .circle-before {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.full-pack {
  background-image: url(/images/coart.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 51vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.full-pack .text-content {
  height: 80%;
}

.full-pack .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.full-pack .container h2 {
  font-weight: 500 !important;
  font-size: calc(12px + 18 * ((100vw - 375px) / (1280 - 375))) !important;
  max-width: 866px;
  text-align: center;
}

@media (min-width: 1440px) {
  .full-pack .container h2 {
    font-size: 30px !important;
  }
}

.full-pack .container h1 {
  font-weight: 600 !important;
  font-size: calc(20px + 28 * ((100vw - 375px) / (1280 - 375))) !important;
  margin: 0 20px;
}

@media (min-width: 1440px) {
  .full-pack .container h1 {
    font-size: 48px !important;
  }
}

.full-pack button {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #DAA520;
  color: white;
  font-weight: 500 !important;
  font-size: calc(12px + 14 * ((100vw - 375px) / (1280 - 375))) !important;
  padding: 15px 30px;
  border-radius: 50px;
  margin: 50px 0 70px 0;
}

@media (min-width: 1440px) {
  .full-pack button {
    font-size: 26px !important;
  }
}

.questions {
  overflow: hidden;
  height: 50vw;
}

.slider .slide {
  color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 50vw;
  max-width: 100%;
  position: relative;
}

.slider .slide h1 {
  z-index: 100;
}

.slider .slide .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider .slide .wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 580px;
}

.slider .slide .wrapper h1 {
  margin: 0;
  text-align: center;
  font-weight: 600 !important;
  font-size: calc(20px + 16 * ((100vw - 375px) / (1280 - 375))) !important;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .slider .slide .wrapper h1 {
    font-size: 36px !important;
  }
}

.slider .slide .wrapper h2 {
  font-weight: normal !important;
  font-size: calc(10px + 26 * ((100vw - 375px) / (1280 - 375))) !important;
  text-align: center;
  width: 80%;
}

@media (min-width: 1440px) {
  .slider .slide .wrapper h2 {
    font-size: 36px !important;
  }
}

.slider .slide .wrapper button {
  font-weight: normal !important;
  font-size: calc(12px + 17 * ((100vw - 375px) / (1280 - 375))) !important;
  background: transparent;
  padding: 10px 70px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  border-radius: 59px;
}

@media (min-width: 1440px) {
  .slider .slide .wrapper button {
    font-size: 29px !important;
  }
}

.slick-arrow {
  z-index: 100;
}

.slick-arrow::before {
  position: absolute;
  color: white !important;
  font-weight: 600 !important;
  font-size: calc(60px + 60 * ((100vw - 375px) / (1280 - 375))) !important;
  font-family: "Font Awesome 5 Free" !important;
}

@media (min-width: 1440px) {
  .slick-arrow::before {
    font-size: 120px !important;
  }
}

.slick-next::before {
  content: "" !important;
  right: 40px !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-prev::before {
  left: 40px !important;
  content: "" !important;
}

footer {
  background-color: #010D15;
}

footer .container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer .container h1 {
  font-weight: 300 !important;
  font-size: calc(10px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  footer .container h1 {
    font-size: 22px !important;
  }
}

footer .container h1 span {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: calc(10px + 12 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  footer .container h1 span {
    font-size: 22px !important;
  }
}

footer .container h2 {
  font-weight: normal !important;
  font-size: calc(10px + 7 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  footer .container h2 {
    font-size: 17px !important;
  }
}

footer .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .info h3 {
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: calc(8px + 6 * ((100vw - 375px) / (1280 - 375))) !important;
}

@media (min-width: 1440px) {
  footer .container .info h3 {
    font-size: 14px !important;
  }
}

footer .container .info h3:first-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=stylesheet.css.map */