@mixin font($weight, $minSize, $lastSize) {
    font-weight: $weight!important;
    font-size: calc(#{$minSize} + #{$lastSize} * ((100vw - 375px) / (1280 - 375)))!important;
    @media(min-width:1440px){
        font-size: $minSize+$lastSize!important;
    };
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
$transition:all 0.3s ease;
$container:90vw;
.container{
    width: $container;
    margin: auto;
    max-width: 1290px;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
a{
    color: white;
    text-decoration: none;
}
.small-device-button{
    margin: auto;
    background:transparent;
    color: black;
    border: 5px solid #68C3D3;
    border-radius: 40px;
    @include font(600,18px ,12 );
    padding: 10px 70px;
    transition: $transition;
    cursor: pointer;
    &:hover{
        background-color: #68C3D3;
        transition: $transition;
    }
}
.section-header{
    margin-top: 100px!important;
    max-width: 900px;
    //width: 60%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    @include font(600,25px ,11 );
    margin-bottom: 100px;
}
header{
    background-image: url(images/previewBack.png);
    height: 600px!important;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    ul{
        margin-top: 30px;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    li{
        text-transform: uppercase;
        cursor: pointer;
        display: inline;
        @include font(400, 10px, 8);
        transition: $transition;
        &:hover a{
            color: #68C3D3;
            text-decoration: underline;
transition: $transition;
        }
    }
}
.preview-content{
    margin-top: 50px;
    width: 50%;
    height: 30vw;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    h1{
      margin: 0;
@include font(600, 20px,28);
text-transform: uppercase;
    }
    h3{
    @include font(normal, 14px, 10);
   
    }
    h2{
        text-transform: uppercase;
        @include font(600,16px,12);
       
    }
    button{
      
        background:transparent;
        color: white;
        border: 5px solid #68C3D3;
        border-radius: 40px;
        @include font(600,18px ,12 );
        padding: 10px 70px;
        transition: $transition;
        cursor: pointer;
        &:hover{
            background-color: #68C3D3;
            transition: $transition;
        }
    }
}
///////////////////////////recieving///////////////////////
.receiving{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    h1{
        margin-top: 35px;
        text-transform: uppercase;
        text-align: center;
        @include font(600,30px ,18 );
      
    }
    .numbers{

        width: 100%;
        margin-top: 100px;
      margin-bottom: 150px;
                display:flex;
justify-content: space-between;
            .number-section{
                display: flex;
               width: 20%;
               height: 220px;
                position: relative;
              
            }
            h3{
                z-index: 10;
            position: absolute;
            top: 20px;
            left: 50px;
                @include font(600,26px ,10);

            }
            img{
                width: 100%;
                height: 100%;
            }
    }
}
.content-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 45%;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .content-table-text{
        width: 45%;
        .wrapper{
            margin-bottom: 30px;
            align-items: center;
            display: flex;
            .circle-before{
                width: 30px!important;
                height: 30px;
            margin-right: 20px;
            border-radius: 50%;
            }
            h3{
                margin-bottom: 0;
                width: 90%;
            }
        }
    }
    h3{
        @include font(normal,14px ,12 );
    }
    
}
/////////////////////////////answers////////////////////////////////
.answers-wrapper{
    display: flex;
    .answers-block{
        width: 50%;
        .wrapper{
            color: white;
            width: 90%;
            margin: auto;
            h3{
                @include font(600,20px ,16 );
            }
            p{
                @include font(600,14px ,10 );
                margin-bottom:35px;
            }
        }
    }
}
/////////////////////////calendar-content//////////////////////////
.calendar-content-wrapper{
    display: flex;
    flex-direction: column;
   // justify-content: space-between;
    .wrapper{
        display: flex;
        align-items: center;
        .circle-before{
            margin-right: 20px;
            width: 20px;
            height: 20px;
            background-color: #064149;
            border-radius: 50%;
        }
        h3{
            margin: 15px 0;
            max-width: 611px;
            width: 90%;
            @include font(normal,16px ,8 );
        }
    }
    .calendar-content{
        width: 48%;
        img{
            display: block;
            max-width: 100%;
            height: auto;
        }
        h2{
            margin-top: 0;
            @include font(normal,20px ,10 );
        }
        
    }
    .text-below-wrappper{
        //height: 200px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .block{
            display: flex;
            flex-direction: column;
            width: 48%;
        }
    }
}
.calendar-top-wrappper{
    display: flex;
    justify-content: space-between;
    
}
//////////////////////////////sale///////////////
.sale{
    .container{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .section-header{
        font-weight: 500;
        border: 2px solid #064149;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 40px 70px;
        width: 70%;
        span{
            display: block;
            margin-top: 50px;
        }
    }
    .clock{
        display: flex;
        justify-content: space-around;
        background: #F3F9FB;
box-shadow: -20px -20px 32px #FFFFFF, 16px 16px 32px #DAE7EC;
border-radius: 24px;
width: 70%;
.clock-circle{
    margin: 40px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F9FB;
box-shadow: 16px 16px 32px #DAE7EC, -16px -16px 32px #FFFFFF;
border-radius: 50%;
padding: 20px 40px;
font-family: Roboto;
width: 10%;
h2{
    @include font(normal,30px ,40 );
    margin: 0;
}
h3{
    margin: 0;
    @include font(normal,16px ,8 );
    
}
}
.breakpoint{
    color: black;
   @include font(600,50px ,50);
    z-index: 100;
    @include flex();
}
    }
    button{
        cursor: pointer;
        margin-top: 70px;
        font-family: Roboto;
        border: none;
        background: #B1E9FC;
    box-shadow: 16px 16px 32px #B7D5E0, -16px -16px 32px #FFFFFF;
    border-radius: 60px;
    @include font(normal,20px ,16 );
    padding: 10px 80px;
   transition: $transition;
   margin-bottom: 100px;
    }
}
/////////////////////////////////smm-calendar//////////////////////
.smm-calendar{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    background-color: #A7D1D4;
    padding: 30px 0;
    button{
        cursor: pointer;
        text-transform: uppercase;
        border: 4px solid #000000;
box-sizing: border-box;
border-radius: 60px;
@include font(500,20px ,8 );
background: transparent;
padding: 20px 40px;
transition: $transition;
&:hover{
    transition: $transition;
    background-color: black;
    color: white;
}
    }
}
.smm-calendar-content{
   
    h1{
        @include font(600,20px ,10 );
        text-transform: uppercase;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wrappper{
        margin-left: 40px;
        h2{
            text-transform: uppercase;
            @include font(500,16px ,8 );
        }
    }
    .icon-block{
        display: flex;
        align-items: center;
        h3{
            margin-left: 20px;
            text-transform: uppercase;
        @include font(500,14 ,7 );
        }
    }
   
}
///////////////////////////////for-free//////////////////////
.for-free{
    .img-wrapper{
        width: 50%;
        img{
            width: 100%!important;
        }
    }
   
    .wrapper{
        margin-top: 70px;
    
        display: flex;
        align-items: center;

        img{
            width: 50%;
            display: block;
            max-width: 100%;
            height: auto;
        }
        .text-content{
          //  position: relative;
           
            width: 50%;
            h2{
                @include font(500,20px ,6 );
            }
            .circle-wrapper{
                display: flex;
                align-items: center;
                h3{
                    width: 90%;
                    @include font(normal,14px ,8 );
                }
                .circle-before{
                    margin-right: 20px;
                    width: 20px;
height: 20px;
border-radius: 50%;
                }
            }
        }
    }
}
//////////////////////////////full-pack///////////////
.full-pack{
    min-height: 600px;
    background-image: url(images/coart.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 51vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        h2{
            @include font(500,25px ,11 );
            max-width: 866px;
            text-align: center;
        }
        h1{
            @include font(600,40px ,8 );
            margin:0 20px;
        }
    }
    button{
        cursor: pointer;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid #DAA520;
        color: white;
        @include font(500,16px ,10 );
        padding: 15px 30px;
        border-radius: 50px;
        margin: 50px 0 70px 0;
        transition: $transition;
        &:hover{
            transition: $transition;
            background-color:#DAA520 ;
        }
    }
}
/////////////////////////questions//////////////////
.questions{
    overflow: hidden;
    height: 50vw;
    min-height: 400px;
    //max-height: 745px;
}
.slider{
    min-height: 400px;
    .slide{
        min-height: 400px;
        color: white;
        background-size: 100% 100%;
         width: 100%;
         height: 50vw;
       // max-height: 745px;
        max-width: 100%;
      
        position: relative;
        h1{
            z-index: 100;
        }
        .wrapper{
            display: flex;
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 40vw;
                justify-content: space-between;
                max-height: 580px;
            }
          
            h1{
                margin: 0;
                text-align: center;
                @include font(600,25px ,11 );
                text-transform: uppercase;
            }
            h2{
                @include font(normal,16px ,20 );
                text-align: center;
                width: 80%;
                //margin: 100px 0 50px 0;
            }
            button{
                @include font(normal,12px ,17 );
                background: transparent;
                padding: 10px 70px;
                border: 2px solid white;
                cursor: pointer;
                color: white;
                border-radius: 59px;
                transition: $transition;
                &:hover{
                    background-color: white;
                    color: black;
                    transition: $transition;
                }
            }
        }
    }
}
/////////////////slider//////////////
.slick-arrow{
    z-index: 100;
  &::before{
    position: absolute;
       color: white!important;
       @include font(600,60px ,60 );
   font-family: "Font Awesome 5 Free"!important;
   }
}
.slick-next{
    &::before{
        content: "\f105"!important;
        right: 40px!important;
    }
}
.slick-prev{
    left: 0!important;
    &::before{
        left: 40px!important;
        content: "\f104"!important;
    }
}
/////////////////footer///////////////
footer{
    background-color: #010D15;
    .container{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        color: white;
        h1{
            @include font(300,14px ,16 );
            span{
                text-transform: uppercase;
                @include font(600,14px ,16 );
            }
        }
        h2{
            @include font(normal,12px ,9 );
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
          
            h3{
                transition: $transition;
                cursor: pointer;
                text-align: center;
                text-transform: uppercase;
                @include font(normal,12px ,10 );
                &:hover{
                    color: #68C3D3;
                }
                &:hover a{
                    color: #68C3D3;
                }
                &:first-child{
                    margin-bottom: 0;
                }
                a{
                    transition: $transition;
                }
            }
            ul{
                cursor: default;
                transition: $transition;
                height: 0px;
                overflow: hidden;
                width: 100%;
                li{
                   
                    transition: $transition;
                    text-transform: uppercase;
                    @include font(normal,10px ,10 );
                    cursor: pointer;
                    margin-top: 20px;
                    text-align: center;
                    &:hover{
                        color: #68C3D3;
                    }
                    &:hover a{
                        color: #68C3D3;
                    }
                }
            }
        }
    }

}
.alert{
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: red!important;
    color: white;
    z-index: 100;
    transition: $transition;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        @include font(600,20px ,10 );
        i{
            margin-right: 20px;
        }
    }
}